<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="./Element.js"></script>
    <script src="./Layout.js"></script>
  </head>
  <body>

  </body>
</html>


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<html>
    <head>
    
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="w3-container">
  <div class="w3-bar w3-blue">
    <a id="save-button" class="w3-bar-item w3-button">Save Layout</a>
    <a id="create-box-button" class="w3-bar-item w3-button">Create New Box</a>
    <div class="w3-dropdown-hover">
      <button class="w3-button">Text Color</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a class="w3-bar-item w3-button">Red</a>
        <a class="w3-bar-item w3-button">Black</a>
        <a class="w3-bar-item w3-button">Blue</a>
      </div>
    </div>
  </div>
</div>

</body>
</html>
<div class="w3-dropdown-hover">
    <img src="https://loremflickr.com/320/240?lock=1" alt="London" style="width:33%">
    <div class="w3-dropdown-content w3-card-4" style="width:50px">
        <img src="https://loremflickr.com/320/240?lock=1"alt="London" style="width:100%">     
            <p>London is the capital city of England.</p>
            <p>It is the most populous city in the UK.</p>       
    </div>
</div>